{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <i class="material-icons" style="font-size:38px;">account_box</i>
        <span>
            {% if artist.name != '' %}
                {{ artist.name }}
            {% else %}
                {{ artist.firstname }} {{ artist.lastname }}
            {% endif %}
        </span>
    </h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>
                {% if artist.band %}
                    <i class="material-icons">people_outline</i>
                {% else %}
                    <i class="material-icons">person_outline</i>
                {% endif %}
                {{ 'artist.show'|trans({}, 'AppBundle') }}
            </h3>
        </div>
        <div class="panel-body">
            <table class="table-condensed">
                <tbody>
                    <tr>
                        <td class="strong">{{ 'artist.form.birthdate_person_band'|trans({}, 'AppBundle') }}</td>
                        <td>
                            {% if artist.name != '' %}
                                {{ artist.birthDate|date('Y') }}
                            {% else %}
                                {{ artist.birthDate|date('d-m-Y') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="strong">{{ 'artist.form.country'|trans({}, 'AppBundle') }}</td>
                        <td>{{ artist.country }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="pull-right col-md-1">
        {{ form_start(delete_form) }}
        {{ form_end(delete_form) }}
    </div>
    <a href="{{ path('artist_edit', { 'id': artist.id }) }}" class="btn btn-warning pull-right" role="button">
        {{ 'buttons.edit'|trans({}, 'AppBundle') }}
    </a>

    <a href="{{ path('artist_index') }}" class="btn btn-default" role="button" aria-label="Left Align">
        <i class="material-icons">undo</i>
        {{ 'buttons.back'|trans({}, 'AppBundle') }}
    </a>
{% endblock %}
