{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <i class="material-icons" style="font-size:38px;">account_box</i>
        <span>{{ artist.name }}</span>
    </h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>{{ 'artist.show'|trans({}, 'AppBundle') }}</h3>
        </div>
        <div class="panel-body">
            <table class="table-condensed">
                <tbody>
                    <tr>
                        <td class="strong">{{ 'artist.form.name'|trans({}, 'AppBundle') }}</td>
                        <td>{{ artist.name }}</td>
                    </tr>
                    <tr>
                        <td class="strong">{{ 'artist.form.firstname'|trans({}, 'AppBundle') }} i {{  'artist.form.lastname'|trans({}, 'AppBundle') }}</td>
                        <td>{{ artist.firstname }} {{ artist.lastname }}</td>
                    </tr>
                    <tr>
                        <td class="strong">{{ 'artist.form.birthdare_person_band'|trans({}, 'AppBundle') }}</td>
                        <td>{{ artist.birthDate }}</td>
                    </tr>
                    <tr>
                        <td class="strong">{{ 'artist.form.country'|trans({}, 'AppBundle') }}</td>
                        <td>{{ artist.country }}</td>
                    </tr>
                    <tr>
                        <td class="strong">{{ 'game.form.developer'|trans({}, 'GamesBundle') }}</td>
                        <td><a href="{{ path('developer_show', { 'id': game.getDeveloper().id }) }}">{{ game.developer }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="pull-right col-md-1">
        {{ form_start(delete_form) }}
        {{ form_end(delete_form) }}
    </div>
    <a href="{{ path('artist_edit', { 'id': artist.id }) }}" class="btn btn-warning pull-right" role="button">
        {{ 'buttons.edit'|trans({}, 'AppBundle') }}
    </a>

    <a href="{{ path('artist_index') }}" class="btn btn-default" role="button" aria-label="Left Align">
        <i class="material-icons">undo</i>
        {{ 'buttons.back'|trans({}, 'AppBundle') }}
    </a>
{% endblock %}
