{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <i class="material-icons" style="font-size:48px;">location_city</i>
        <span>{{ 'distributor.list'|trans({}, 'AppBundle') }}</span>
    </h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>
                {{ 'distributor.form.name'|trans({}, 'AppBundle') }} / {{ 'artist.form.firstname'|trans({}, 'AppBundle') }} i {{ 'artist.form.lastname'|trans({}, 'AppBundle') }}
            </th>
            <th>{{ 'distributor.form.country'|trans({}, 'AppBundle') }}</th>
            <th>{{ 'artist.form.actions'|trans({}, 'AppBundle') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for distributor in distributors %}
            <tr>
                <td><i class="material-icons">domain</i></td>
                <td>{{ distributor.name }}</td>
                <td>{{ distributor.country }}</td>
                <td>
                    <a href="{{ path('distributor_show', { 'id': distributor.id }) }}" class="btn btn-info" role="button">
                        <i class="material-icons">info_outline</i>
                        {{ 'buttons.show'|trans({}, 'AppBundle') }}
                    </a>
                    <a href="{{ path('distributor_edit', { 'id': distributor.id }) }}" class="btn btn-warning" role="button">
                        <i class="material-icons">create</i>
                        {{ 'buttons.edit'|trans({}, 'AppBundle') }}
                    </a>
                    <a href="{{ path('distributor_delete', { 'id': distributor.id }) }}" class="btn btn-danger" role="button">
                        <i class="material-icons">highlight_off</i>
                        {{ 'buttons.delete'|trans({}, 'AppBundle') }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('homepage') }}" class="btn btn-default" role="button" aria-label="Left Align">
        <i class="material-icons">undo</i>
        {{ 'buttons.back'|trans({}, 'AppBundle') }}
    </a>
    <a href="{{ path('distributor_new') }}" class="btn btn-success pull-right" role="button">
        <i class="material-icons">add_circle_outline</i>
        {{ 'buttons.add'|trans({}, 'AppBundle') }}
    </a>
{% endblock %}
