{% extends 'base.html.twig' %}

{% block body %}
    <h1>Distributors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for distributor in distributors %}
            <tr>
                <td><a href="{{ path('distributor_show', { 'id': distributor.id }) }}">{{ distributor.id }}</a></td>
                <td>{{ distributor.name }}</td>
                <td>{{ distributor.country }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('distributor_show', { 'id': distributor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('distributor_edit', { 'id': distributor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('distributor_new') }}">Create a new distributor</a>
        </li>
    </ul>
{% endblock %}
