{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <i class="material-icons" style="font-size:38px;">business</i>
        <span>{{ distributor.name }}</span>
    </h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>
                <i class="material-icons">help_outline</i>
                {{ 'distributor.show'|trans({}, 'AppBundle') }}
            </h3>
        </div>
        <div class="panel-body">
            <table class="table-condensed">
                <tbody>
                    <tr>
                        <td class="strong">{{ 'distributor.form.country'|trans({}, 'AppBundle') }}</td>
                        <td>{{ distributor.country }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="pull-right col-md-1">
        {{ form_start(delete_form) }}
        {{ form_end(delete_form) }}
    </div>
    <a href="{{ path('distributor_edit', { 'id': distributor.id }) }}" class="btn btn-warning pull-right" role="button">
        {{ 'buttons.edit'|trans({}, 'AppBundle') }}
    </a>

    <a href="{{ path('distributor_index') }}" class="btn btn-default" role="button" aria-label="Left Align">
        <i class="material-icons">undo</i>
        {{ 'buttons.back'|trans({}, 'AppBundle') }}
    </a>
{% endblock %}
